<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <center><div class="fade-in"><img src="https://i.imgur.com/REKOt2Y.png"></div></center>
    <nav>
       <center><a href="/auth/google" class="login">Join The Club&nbsp;</a></center>
    </nav>
    
    
  </body>
</html>
