<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <center><h1>bnbSocialClub</h1></center>
    <nav>
        <a href="/auth/google" class="login">Join The Club &nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    </nav>
    
    
  </body>
</html>
