body {

    
    background-color: rgb(0, 0, 0);
    
  }

  html {
      font-size: 14 px;
      font-family: Helvetica;
  }
  .social-board
  {
    width: 100%;
    opacity: 0;
    margin-left: 50%;
    transform: translateX(-200%);
    opacity: 0;
    animation: slide-in-anim 1.5s ease-out forwards;
  }
    @keyframes slide-in-anim {
      20% {
        opacity: 0;
      }
      60% {
        transform: translateX(-45%);
      }
      75% {
        transform: translateX(-52%);
      }
      100% {
        opacity: 1;
        transform: translateX(-50%);
      }
    }
  .likes{
    text-align: right;
  }

  
 .container {
     margin:  20px;
     padding: 20 px;
 }
 .posts { 
   margin-top: 20px;
 }
 .subject {
   padding: 5px;
   border-radius: 5px;
   margin: 4px;
 }
.posts-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
width: 100%;
}
.posts-colum{
  padding: 10px;
  margin: 4px;
  border-radius: 5px;
  background-color: rgb(75, 75, 75);
  font-size: 16px;
  
}
.center{
  display:flex;
  justify-content: center;
align-items: center;
}
  /* body {
    margin: 0;
    font-family: Helvetica;
      height: 100vh;
      display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 50px 1fr 30px;
      gap: 5px;
    }  specifies width of grid lines */
  
  
  nav {
      display: flex;
      flex-direction: row; 
      justify-content: flex-start; 
      align-items: center;
      height: 50px;
      background-color:rgb(51, 65, 94);	
  }
  
  nav > div:last-child {
      margin-left: auto;
  }
  
  div {
      margin: 5px;
      font-size: 20px;
      color: #fafafa;
  }
  
  aside {
    background-color: #686868;
  }
      
  main {
    background-color: #ffffff;
  }
      
  .flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  nav, footer {
      /*grid-column: 1/3 ;*/
      grid-column: span 2;
  }
 .list-el {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
width: 100%;
 }
 li {
   list-style-type: none;
 }
 #heart {
  color: grey;  
  font-size: 50px;
}

#heart.red {
  color: red;
}