<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/edit.css' />
    </head>
    <nav>
      <% if (user) { %>
        <div class = "nbar"><a href="/shoes"style="color: white"><img src="https://i.imgur.com/glXHmRR.png" width="30"></div>
      <div class = "nbar"><a href="/profile/<%= user._id %>"style="color: white">Profile</a></div>
      <div class = "nbar"><a href="/shoes/new"style="color: white" >+ Post</a></div>
      <div class="nbar"><img src="https://i.imgur.com/N1YQuge.png" width="80" ></div>
      <div class = "nbar"><a href="/logout"style="color: white">LOG OUT</a></div>
      <% } else { %>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
      <% } %>
    </nav>
<body>
  <center><h2><p class="head" style="color: white">
    <span class="letter">E</span>
    <span class="letter">D</span>
    <span class="letter">I</span>
    <span class="letter">T</span>
    <span class="letter"> </span>
    <span class="letter">P</span>
    <span class="letter">O</span>
    <span class="letter">S</span>
    <span class="letter">T</span>
 </p></h2></center>
 <form action="/shoes/<%= shoe.id %>?_method=PUT" method="POST" autocomplete="off">
    <input type="text" placeholder="Subject" name="subject" value="<%= shoe.subject %>"><br>
  <input type="text" class ="bodyinput" placeholder="Body" name="body" value=<%= shoe.body %>><br>
  <input type="submit" value="UPDATE">
</form>
</body>